<div style="background-color: whitesmoke; width: 1280px; margin: auto">

  <h1>Walkathon Pledges</h1>

  <table class="table table-condensed table-bordered">
    <thead>
    <tr>
      <th>Student name</th>
      <th>Sponsor name</th>
      <th>Sponsor phone</th>
      <th>Sponsor email</th>
      <th>Pledge per lap</th>
      <th>Maximum pledge</th>
      <th>Fixed pledge</th>
    </tr>
    </thead>

    <tbody>
    <% @walkathon_pledges.each do |walkathon_pledge| %>
        <tr>
          <td><%= walkathon_pledge.student.full_name %></td>
          <td><%= walkathon_pledge.sponsor_name %></td>
          <td><%= walkathon_pledge.sponsor_phone %></td>
          <td><%= walkathon_pledge.sponsor_email %></td>
          <td><%= walkathon_pledge.pledge_per_lap %></td>
          <td><%= walkathon_pledge.maximum_pledge %></td>
          <td><%= walkathon_pledge.fixed_pledge %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Pledge', new_walkathon_pledge_path %>
</div>
