<div class="new-pledge">
  <div>
    <%= image_tag("FEA_Logo_Graphic.jpg", width: "130") %>
    <%= image_tag("Online_pledge_header.jpg", width: "500") %>
    <%= image_tag("FEA_Logo_Graphic.jpg", width: "130") %>
  </div>

  <%= render 'introduction' %>
  <hr>
  <%= render 'form' %>
</div>
