<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= link_to @student.teacher.full_name, @student.teacher %>
</p>

<p>
  <strong>Email addresses:</strong>
  <%= @student.emails %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
